# ÖDEV_1

In [15]:
#Ödevin geri kalanında gerekli olacak kütüphanelerin eklenmesi adımı

import numpy as np
import seaborn as sb
import pandas as pd

## SORU_1

Pandas kütüphanesi ile bir DataFrame oluşturup içine Levels of measurementsları nominal , ordinal , interval ve ratio olan kolonlar ekleyelim.

## CEVAP_1

In [16]:
#Bir futbol takımındaki oyuncuların bilgileri esas alınarak oluşturulmuş bir DataFrame'dir
#Bu DataFrame'de Position->Nominal, Age->Ratio, Last_Game_Rating-> Interval ve Did_He_Play->Ordinal sıralama ölçütü olarak belirtilmiştir. 

Players = { 'Name': ['Ahmet' , 'Mehmet', 'Serdar' , 'Mustafa' , 'Veli'],
            'Position': ['GK' , 'DF' , 'DMF' , 'OMF' , 'ST' ],
            'Did_He_Play': ['Yes' , 'Yes' , 'No' , 'Yes' , 'No' ] ,
            'Last_Game_Rating': [8.1 , 7.0 , 0.0 , 6.7 , 7.9], 
            'Age': [27,32,19,24,23]
          }

df = pd.DataFrame(Players)
df

      Name Position Did_He_Play  Last_Game_Rating  Age
0    Ahmet       GK         Yes               8.1   27
1   Mehmet       DF         Yes               7.0   32
2   Serdar      DMF          No               0.0   19
3  Mustafa      OMF         Yes               6.7   24
4     Veli       ST          No               7.9   23

## SORU_2

Ekli verisetinde bulunan DataFrame'e ait radius_mean , area_mean ve compactness_mean kolonlarının count , mean , std , min , 25% , 50% , 75% , max değerlerini ve IQR metodu ile outlier durumda kalan veri sayılarını çıkartıp bu değerleri sözel ve karşılaştırmalı olarak yorumlayalım.

## CEVAP_2

## SORU_3

Ekli verisetinde bulunan DataFrame'e ait radius_mean , area_mean ve compactness_mean kolonlarının birbiriyle olan korelasyonlarını , kovaryanslarını , Pearson Correlation Coefficient larını , Spearman Rank Coefficient larını ve Effect Size larını bularak sözel ve karşılaştırmalı olarak yorumlayalım.

## CEVAP_3

## SORU_4

Bayes Teoreminin gerçek hayatta karşımıza çıkan ve kullanılan örneklerinden 5 tane bulalım.

## CEVAP_4